<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ concert.title }} — LocalGigs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="page-header">
    <nav class="navbar">
        <a class="logo" href="/">🎶 LocalGigs</a>
        <a class="admin-link" href="/admin/login">🔐 Адмінка</a>
    </nav>
</header>

<main class="details-container">

    <a class="back-link" href="/">← Назад до афіші</a>

    <article class="details-card {% if concert.is_featured %}featured{% endif %}">

        <div class="details-image-wrap">
            {% if concert.is_featured %}
                <span class="featured-badge">⭐ Featured</span>
            {% endif %}

            <img src="{{ concert.image_url }}" alt="{{ concert.title }}">
        </div>

        <div class="details-content">
            <div class="card-top">
                <span class="genre">{{ concert.genre }}</span>
                <span class="price">{{ concert.price }}</span>
            </div>

            <h1>{{ concert.title }}</h1>

            <p class="meta">📍 {{ concert.city }} • {{ concert.venue }}</p>
            <p class="date">🗓 {{ concert.event_date }}</p>

            <section class="details-info-grid">
                <div class="info-box">
                    <span>Організатор</span>
                    <strong>{{ concert.organizer }}</strong>
                </div>

                <div class="info-box">
                    <span>Початок</span>
                    <strong>{{ concert.start_time }}</strong>
                </div>

                <div class="info-box">
                    <span>Тривалість</span>
                    <strong>{{ concert.duration }}</strong>
                </div>

                <div class="info-box">
                    <span>Вік</span>
                    <strong>{{ concert.age_limit }}</strong>
                </div>

                <div class="info-box wide">
                    <span>Атмосфера</span>
                    <strong>{{ concert.mood }}</strong>
                </div>
            </section>

            <h2>Про концерт</h2>

            <p class="details-description">
                {{ concert.description }}
            </p>

            <a class="details-button" href="https://karabas.com/?gad_source=1&gad_campaignid=22928650687&gbraid=0AAAABBLmiXrfxdrunTQ8J9MJ4tNMIu8O1&gclid=CjwKCAjwqubPBhBOEiwAzgZX2mvhBD_hf9kqx9rG75Tc_hZ7y6YELlacJNO9-8usaFuzwWn9FN1paBoCfckQAvD_BwE" target="_blank">
                🎟 Контакт / квитки →
            </a>
        </div>

    </article>

</main>

</body>
</html>